*{
    margin: 0;
    padding: 0;
}
.container{
    border: solid 1px;
    height: 160px;
    width: 420px;
    display: flex;
    align-items:flex-start;
}
img{
    height: 160px;
    width: 180px;
}
.box2{
    margin-left: 20px;
}
.btn{
    border-color: orange;
    height: 25px;
    color: white;
    border-radius: 6px;
    margin-left: 80px;
}
h3{
    margin-left: 18px;
}
#close{
    height: 15px;
    width: 15px;
    margin-left: 1200px;
}

